<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GreenCart Test suite">
<listeners>
<listener class-name="utilities.Listener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.GreenKartHomeTest"/>
      <class name="testCases.CheckKartTest"/>
      <class name="testCases.PlaceOrderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
